@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

.section{
    width:100%;
    min-height:100vh;
    background-color:#ddd;
}
.container{
    width:80%;
    display:block;
    margin:auto;
    padding-top:60px;
}
.content-section{
    float:left;
    width:55%;
}
.img{
    float:right;
    width:40%;
}
.img img{
    width:100%;
    height:auto;
}
.content-section .title{
    text-transform:uppercase;
    font-size:28px;
}
.content-section .content h3{
    margin-top:20px;
    color:#5d5d5d;
    font-size:19px;
}
.content-section .content p{
    margin-top:20px;
    font-family:sans-serif;
    font-size:18px;
    line-height:1.5;
}
.content-section .content .button{
    margin-top:30px;
}
.content-section .content .button a{
    background-color:#3d3d3d;
    padding :12px 40px;
    text-decoration:none;
    color:#fff;
    font-size:25px;
    letter spacing:1.5px;
}
.content-section .content .button a:hover{
    background-color:#a52a2a;
    color:#fff;
}
.social-media{
width:100%;
list-style:none;
display:flex;
justify-content:space-evenly;
padding:2rem 0;
margin-top:1.5rem;
border-top:1px xolid rgba(0,0,0,0.1);
}
.social-media i{
font-size:3rem;}
.fa-facebook-square{
color:#3b5999;
}
.fa-instagram{
color:#e6683c;
}
.fa-google-plus-square{
color:#dd4b39;
}
.fa-facebook-square:hover,
.fa-instagram:hover,
.fa-google-plus-square:hover{
color:#45e19f;
}
@media screen and(min-width:700px){
.container{
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
}
.content-section{
    float:none;
    width:100%;
    display:block;
    margin:auto;
}
.img{
    float:none;
    width:100%;
}
.img img{
    width:100%;
    height:auto;
    display:block;
    margin:auto;
}
.content-section .title{
    text-align:center;
    font-size:19px;
}
.content-section .content .button{
    text-align:center;
}
.content-section .content .button a{
    padding:9px 30px;
}
.content-section .social-media{
    text-align:center;
}